{% extends "base.html" %}
{% block title %}
	Python WEB
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/create-category/">Новая категория...</a>
	</div>
	<div>
		<h1>Курсы</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
			<a href="/courses-list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
	</div>
{% endblock %}