<form action="" method="post">
    <fieldset>
        <legend>Введите сообщение</legend>
        <p>
            <label class="title" for="subject">Тема сообщения:</label>
            <input type="text" name="subject" id="subject"><br/>
            <label class="title" for="message">Текст сообщения:</label>
            <input type="text" name="message" id="message"><br/>
            <label class="title" for="email">Ваш email:</label>
            <input type="text" name="email" id="email">
        </p>
    </fieldset>
    <div class="submit"><input type="submit" value="Послать"/></div>
</form>
